<div class="jumbotron">
  <div class="container">
    <h1>Need/Want It</h1>
    <p>1. Drag this bookmark to the Bookmark Bar of your browser.<br />
    	2. When you're browsing the web and see something you Need or Want, click the bookmark to easily add it to your Wantlist</p>
    <p><a class="btn btn-primary btn-lg" href="javascript:void((function()%7Bvar e%3Ddocument.createElement(%27script%27)%3Be.setAttribute(%27type%27,%27text/javascript%27)%3Be.setAttribute(%27src%27,%27http://theneedwant.herokuapp.com/framebookmarklet.js%27)%3Bdocument.body.appendChild(e)%7D)())">Need/Want Wantlist</a> <-- Drag me to your Bookmarks Bar</p>
  </div>
</div>
<div class="row">
	<div class="col-md-5 offset2">
		<h2>Sign up</h2>
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>
			
			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation %>
 
			<%= f.submit "Sign me Up!", class: "btn btn-large btn-primary" %>
		<% end %>
		</div>

		<div class="col-md-5">
			<h2>Sign In</h2>
    		<%= form_for(:session, url: sessions_path, :html => {:class => "form-inline"}) do |f| %>

    		<%= f.label :email %>
    		<%= f.text_field :email %>

    		<%= f.label :password %>
    		<%= f.password_field :password %>

    		<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>

    	</div>
    	<% end %>

  </div>
	</div>
</div>