<div class="row">
	<div class="col-md-4 offset">
		<h2>Sign up</h2>
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>
			
			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation %>
 
			<%= f.submit "Sign me Up!", class: "btn btn-large btn-primary" %>
		<% end %>
		</div>

		<div class="col-md-4 offset 3">
			<h2>Sign In</h2>
    		<%= form_for(:session, url: sessions_path) do |f| %>

    		<%= f.label :email %>
    		<%= f.text_field :email %>

    		<%= f.label :password %>
    		<%= f.password_field :password %>

    		<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>

    	</div>
    	<% end %>

  </div>
	</div>
</div>