<% provide(:title, @user.name) %>
<h1>
	<%= gravatar_for @user %>
	<%= @user.name %>
	<%= @user.email %>
</h1>

<% provide(:title, @user.name) %>
<div class="row">
  
  <aside>
    
  </aside>
  <div class="span8">
    <% if @user.wishlist %>
      <h3>Wishlists(for user id <%= @user.wishlist.user_id %>)</h3>
      <ol class="wishlists">
        <%= render @wishlists %>
        That was 1 wishlist
      </ol>
     
    <% end %>
  </div>
</div>