<% provide(:title, @user.name) %>
<div class="row">
  
  <aside>
    
  </aside>
  <div class="span8">
    <% if @user.wishlist %>
      <h3><%= @user.name %>'s Wantlist</h3>  <a class="btn btn-small btn-info" href="/items/new">+ Add Item to Wantlist</a>
      <ul class="wishlists media-list">
          <% @wishlists.item_ids.each do |item_id| %>
            <% item_obj= Item.find(item_id) %>
              <li class="media col-md-4">
              <a class="pull-left" href="<%=item_obj.url %>"><img class="media-object img-circle" src="<%=item_obj.image %>" height=64px width= 64px alt="<%item_obj.title %>">
              </a>
              <div class="media-body">
                <h5 class="media-heading"><%= item_obj.title %></h5>
                
                <%= item_obj.brand %><br />
                $<%= item_obj.price %><br />
                <span class="badge"><%= item_obj.category %></span>
                
              </div>

              </li>
            <% end %>
      </ul>
     
    <% end %>
  </div>
</div>