<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">

      <%= link_to "Need/Want", root_path, id: "logo" %>
      
      <nav>
        <ul class="nav pull-right">
          <%= link_to "Home", root_path %>
          <% if signed_in? %>
            <div id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </div>
      </nav>

      <div> 
        <% if current_user %>
          <%=current_user.id %>
          <%=current_user.name %>
        <% else %>
          "cant find current user"
        <% end %>
      </div>

    </div>
  </div>
</header>