<!DOCTYPE html>
<html>
<head>
  <title>Needwant</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
	<%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <!-- <div class="alert alert-<%= key %>"><%= value %></div> -->
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>

<%= yield %>

</body>
</html>
